<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-12">
                <div class="pull-left">
                    <p>Copyright(c) UNIFLI {{template.year}}</p>
                </div>
            </div>
            <div class="col-md-3  col-sm-5  col-xs-12">
                <div class="privacy">
                    <!--<p ui-sref="privacypolicy">privacy policy<span class="sp-terms" ui-sref="terms-and-conditions">Terms & condition</span></p>-->
                   <p><a ui-sref="privacypolicy">Privacy Policy</a> <a  class="sp-terms" ui-sref="terms-and-conditions">Terms & Condition</a></p>
                </div>
            </div>
            <div class="col-md-2 text-center icon col-sm-2 col-xs-12">
                <a><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-4 col-sm-3 col-xs-12">
                <div class="pull-right">
                    <p>Designed & developed by <a href="" target="blank">Gsource Technologies LLC</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>