<div class=" product aboutus ">
    <div class="container">
<div class="layers product-type">
<div class="story-one clearfix">
    <div class=" pull-left">
<div class="rounded">
    <div class="story-img leaf storyimg-mobile">

    </div>
    <div class="story-info">
        <p>The story doesn’t end here! UNIFLI is poised for exponential growth in the coming year, expanding its services and reach to conquer newer challenges (and markets!).</p> 
      
    </div>
</div>
    </div>
</div>
<div class="story-one clearfix">
    <div class=" pull-right">
<div class="rounded">
    
    <div class="story-info story-infos">
        <p>Scott and Alex deploy their services globally to revolutionize the surveying and mapping processes of thousands of happy clients.</p> 
    </div>
    <div class="story-img story-imgs thumb">

    </div>
</div>
    </div>
</div>
<div class="story-one clearfix">
    <div class=" pull-left">
<div class="rounded">
    <div class="story-img drop storyimg-mobile">

    </div>
    <div class="story-info">
        <p>GPS products are paired with conventional OTS 
            solutions to increase aerial efficiency. ASPRS compliant survey quality photogrammetry and millimeter accuracy is achieved through AsteRx-m receivers.</p> 
      </div>
</div>
    </div>
</div>
<div class="story-one clearfix">
    <div class=" pull-right">
<div class="rounded">
     <div class="story-info story-infos">
        <p>Over a year, processes are fine tuned to decrease office production time and drive up profitability and operational productivity.</p> 
    </div>
    <div class="story-img story-imgs clock">

    </div>
   
</div>
    </div>
</div>
<div class="story-one clearfix">
    <div class=" pull-left">
<div class="rounded">
    <div class="story-img box storyimg-mobile">

    </div>
    <div class="story-info">
        <p>In a bid to increase efficiency, CAD processing units are created internally to add onto existing photogrammetry processes.</p> 
      
    </div>
</div>
    </div>
</div>
<div class="story-one clearfix">
    <div class=" pull-right">
<div class="rounded">
     <div class="story-info story-infos">
        <p>UNIFLI first develops Data Flow Management to handle UAV photo processing for countless applications.</p> 
    </div>
    <div class="story-img story-imgs computer">

    </div>
   
</div>
    </div>
</div>
<div class="story-one clearfix">
    <div class=" pull-left">
<div class="rounded">
    <div class="story-img bird storyimg-mobile">

    </div>
    <div class="story-info">
        <p>UNIFLI Aerosolutions is established in 2015.</p> 
      
    </div>
</div>
    </div>
</div>
<div class="story-one clearfix">
    <div class=" pull-right">
<div class="rounded">
     <div class="story-info story-infos">
        <p>A timely collaboration with electronics and drone designers results in a game-changing idea.</p> 
    </div>
    <div class="story-img story-imgs tag">

    </div>
   
</div>
    </div>
</div>
<div class="story-one clearfix">
    <div class=" pull-left">
<div class="rounded">
    <div class="story-img s storyimg-mobile">

    </div>
    <div class="story-info">
        <p>Roadblocks arise in the form of outdated photogrammetry processes that are cost intensive and inefficient.</p> 
      
    </div>
</div>
    </div>
</div>
<div class="story-one clearfix">
    <div class=" pull-right">
<div class="rounded">
     <div class="story-info story-infos">
        <p>Steadily frustrated with the lack of innovation in land surveying, Scott and Alex roll up their sleeves and brainstorm solutions.</p> 
    </div>
    <div class="story-img  story-imgs bulb">

    </div>
   
</div>
    </div>
</div>


</div>
<div class="unifli-story text-center">
    <div class="story-drone">
        <img src="frontend/img/product/drones.png" class="img-responsive" alt="drone">
    </div>
    <h1>the unifli story</h1>
    <div class="mouse">
        <p class="whitey">scroll up</p>
        <div class="mouse-img pointer" id="at-footer">
            <img src="frontend/img/product/mouse.png" class="img-responsive" alt="mouse">
        </div>
    </div>
</div>
    </div>


</div>