<div class="blog-img">
    <div class="text-center blog-title">
        <h1>blog</h1>
    </div>
    <div class="container main-content">
        <div ng-if="!blogShow">
            <div class="blog-individual-1 member-p-20-2">
                <img src="{{blogDetail.image}}" alt=""></img>
            </div>
            <div class="row">
                <div class="text-center serveying">
                    <h2 class="m-0" ng-bind-html="blogDetail.title">SURVEYING BY DRONE FROM A MOVING VEHICLE</h2>
                    <h4 class="sep-22" ng-bind-html="blogDetail.date">September 22, 2016</h4>
                    <div class="btn btn-view1"></div>
                </div>
            </div>
            
            <div class="row">
              
                <p class="text-justify data-individual" ng-bind-html="blogDetail.desc1"></p>
                <p class="text-justify data-individual" ng-bind-html="blogDetail.desc2"></p>
                <p class="text-justify data-individual" ng-bind-html="blogDetail.desc3"></p>
                   <p class="text-justify data-individual" ng-bind-html="blogDetail.desc4"></p>
                   <p class="text-justify data-individual" ng-bind-html="blogDetail.desc5"></p>
                   <p class="text-justify data-individual" ng-bind-html="blogDetail.desc6"></p>
                   <p class="text-justify data-individual" ng-bind-html="blogDetail.desc7"></p>
            </div>
        </div>
        <div ng-if="blogShow" ng-repeat="data in blogDetail">
            <div class="blog-individual-1 member-p-20-2">
                <img src="{{data.image}}" alt=""></img>
            </div>
            <div class="row">
                <div class="text-center serveying">
                    <h2 class="m-0" ng-bind-html="data.title" ng-if="data.title"></h2>
                    <!--<h4 class="sep-22" ng-bind-html="data.date">September 22, 2016</h4>-->
                    <div ng-if="$index==0" class="btn btn-view1"></div>
                    
                </div>
            </div>
            <div class="row">
                 <h4  class="text-justify data-individual" ng-bind-html="data.title6" ng-if="data.title6"></h4>
                <p class="text-justify data-individual" ng-bind-html="data.desc1" ng-if="data.desc1"></p>
                <p class="text-justify data-individual" ng-bind-html="data.desc2" ng-if="data.desc2"></p>
                             <h4  class="text-justify data-individual" ng-bind-html="data.title4" ng-if="data.title4"></h4>
                <p class="text-justify data-individual" ng-bind-html="data.desc3" ng-if="data.desc3"></p>
               
                 <p class="text-justify data-individual" ng-bind-html="data.desc4" ng-if="data.desc4"></p>
                  <h4  class="text-justify data-individual" ng-bind-html="data.title5" ng-if="data.title5"></h4>
                  <h3  class="text-justify data-individual" ng-bind-html="data.title2" ng-if="data.title2"></h3>
                   <p class="text-justify data-individual" ng-bind-html="data.desc5" ng-if="data.desc5" ></p>
                    <p class="text-justify data-individual" ng-bind-html="data.desc6" ng-if="data.desc6"></p>
                      <h3  class="text-justify data-individual" ng-bind-html="data.title3" ng-if="data.title3" ></h3>
                     <p class="text-justify data-individual" ng-bind-html="data.desc7" ></p>
                      <p class="text-justify data-individual" ng-bind-html="data.desc8" ></p>
                      <p class="text-justify data-individual" ng-bind-html="data.desc9" ></p>
            </div>
        </div>
        <div class="row text-center section-2">
            <div>
                <h2 class="middle-title">also read</h2>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12" ng-repeat="data in alsodata" ng-if="data.id!=stateId">
                <div class="post-info">
                    <div class="thumbnail">
                        <img src="{{data.image}}" alt=""></img>
                    </div>
                    <p class="august">{{data.date}}</p>
                    <h4 class="h35">{{data.title}}</h4>
                    <div class="btn btn-view" ui-sref="blog-individual({id:data.id})">View Post</div>
                </div>
            </div>
            <!--<div class="col-md-4 col-sm-4 col-xs-12">
                     <div class="post-info">
                    <div class="thumbnail">
                        <img src="frontend/img/new/4.jpg" alt=""></img>
                    </div>
                    <p class="august">AUGUST  24, 2016</p>
                    <h4 class="h35">WHAT A SURVEYOR NEED TO KNOW TO START MAPPING BY DRONE</h4>
                    <div class="btn btn-view" ui-sref="blog-individual({id:'3'})">View Post</div>
                </div>-->
            <!--</div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                     <div class="post-info">
                    <div class="thumbnail">
                        <img src="frontend/img/new/3.jpg" alt=""></img>
                    </div>
                    <p class="august">AUGUST 24, 2016</p>
                    <h4 class="h35">THE KEY TO SUCCESS WITH DRONES</h4>
                    <div class="btn btn-view" ui-sref="blog-individual({id:'2'})">View Post</div>
                </div>
                </div>-->
        </div>
    </div>
</div>