<div class="blog-img">
	<div class="text-center blog-title">
		<h1>blog</h1>
	</div>
	<div class="container main-content">
		<div class="text-center">
			<form class="form-inline">
				<div class="input-group blog-relative">
					<input type="text" class="form-control blog-input m-l" placeholder="">
					<div class="input-group blog-absolute">
						<button class="btn blog-btn" type="submit">Categories</button>
					</div>
				</div>
				<div class="input-group blog-relative mmtop">
					<input type="text" class="form-control blog-input" placeholder="">
					<div class="input-group blog-absolute">
						<button class="btn blog-btn" type="submit">Archives</button>
					</div>
				</div>
			</form>
		</div>
		<div class="blog-img-1">
			<img src="img/new/5.png" alt=""></img>
		</div>
		<div class="row">
			<div class="text-center serveying">
				<!--<h2 class="m-0">SURVEYING BY DRONE FROM A MOVING VEHICLE</h2>-->
				<h2 class="m-0">THIS ONE STOP SHOP IS THE SOLUTION
					<BR> TO ALL YOUR DRONE SURVEYING PROBLEMS!</h2>
				<!--<h4 class="sep-22">September 22, 2016</h4>-->
				<div class="btn btn-view mt15" ui-sref="blog-individual({id:'3'})">View Post</div>
			</div>
		</div>
		<div class="row text-center section-2 member-p-20-2">

			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="post-info">
					<div class="thumbnail">
						<img src="img/new/1.jpg" alt=""></img>
					</div>
					<!--<p class="august">AUGUST 24, 2016</p>
				<h4 class="h35">WHAT IS THE FAA DRONE TEST LIKE?</h4>-->
					<h4 class="h35">How Part 107 Is Paying The Way
						<br> For Commercial Drone Operators</h4>
					<div class="btn btn-view" ui-sref="blog-individual({id:'4'})">View Post</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="post-info">
					<div class="thumbnail">
						<img src="img/new/2.jpg" alt=""></img>
					</div>
					<!--<p class="august">AUGUST 24, 2016</p>
				<h4 class="h35">WHAT A SURVEYOR NEED TO KNOW TO START MAPPING BY DRONE</h4>-->
					<h4 class="h35">An Assortment Of Applications </h4>
					<div class="btn btn-view" ui-sref="blog-individual({id:'1'})">View Post</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="post-info">
					<div class="thumbnail">
						<img src="img/new/ssss.jpg" alt=""></img>
					</div>
					<!--<p class="august">AUGUST 24, 2016</p>
				<h4 class="h35">THE KEY TO SUCCESS WITH DRONES</h4>-->
					<h4 class="h35"> Complete The Circle With CAD Linework</h4>
					<div class="btn btn-view" ui-sref="blog-individual({id:'2'})">View Post</div>
				</div>
			</div>
		</div>
		<div class="blog-img-2">
			<img src="img/new/6.jpg" alt=""></img>
		</div>
		<div class="row">
			<div class="text-center serveying">
				<!--<h2 class="m-0">SURVEYING BY DRONE FROM A MOVING VEHICLE</h2>
				<h4 class="sep-22">September 22, 2016</h4>-->
				<h2 class="m-0">AN ASSORTMENT OF APPLICATIONS</h2>
				<div class="btn btn-view mt15" ui-sref="blog-individual({id:'1'})">View Post</div>
			</div>
		</div>
		<div class="row text-center section-2 member-p-20-2">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="post-info">
					<div class="thumbnail">
						<img src="img/new/1.jpg" alt=""></img>
					</div>
					<!--<p class="august">AUGUST 24, 2016</p>
				<h4 class="h35">WHAT IS THE FAA DRONE TEST LIKE?</h4>-->
					<h4 class="h35">How Part 107 Is Paying The Way
						<br> For Commercial Drone Operators</h4>
					<div class="btn btn-view" ui-sref="blog-individual({id:'4'})">View Post</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="post-info">
					<div class="thumbnail">
						<img src="img/new/2.jpg" alt=""></img>
					</div>
					<!--<p class="august">AUGUST 24, 2016</p>
				<h4 class="h35">WHAT A SURVEYOR NEED TO KNOW TO START MAPPING BY DRONE</h4>-->
					<h4 class="h35">An Assortment Of Applications </h4>
					<div class="btn btn-view" ui-sref="blog-individual({id:'1'})">View Post</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="post-info">
					<div class="thumbnail">
						<img src="img/new/ssss.jpg" alt=""></img>
					</div>
					<!--<p class="august">AUGUST 24, 2016</p>
				<h4 class="h35">THE KEY TO SUCCESS WITH DRONES</h4>-->
					<h4 class="h35"> Complete The Circle With CAD Linework</h4>
					<div class="btn btn-view" ui-sref="blog-individual({id:'2'})">View Post</div>
				</div>
			</div>
		</div>
	</div>
</div>