<div class="bg-mycart">
    <div class="container mycart-container">
      <div class="text-center">
          <h1 class="mycart-heading"></h1>        
      </div>
      <div class="mycart-content">
        <div class="table-responsive">
     <table class="table">
    <thead>
      <tr class="text-center mycart-row">
        <th class="mycart-head weight-700">Serial No.</th>
        <th  class="mycart-head weight-700">Product</th>
        <th  class="mycart-head weight-700">Package</th>
        <th  class="mycart-head weight-700">Quantity</th>
        <th  class="mycart-head weight-700">Amount</th>
        <th  class="mycart-head weight-700">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr class="mycart-row1">
        <td>01</td>
        <td>FC-250</td>
        <td>UAV with Single Rover</td>
        <td class="qty-detail">
        <!--<i class="fa fa-minus-square" aria-hidden="true"></i>-->
        <!--<input class="form-control" type="text" value="03">-->
        <!--<i class="fa fa-plus-square" aria-hidden="true"></i>-->
        01
        </td>
        <td>$1000</td>
        <td>$3000</td>
        
      </tr>
      <tr class="mycart-row1">
        <td>02</td>
        <td>DFM</td>
        <td>Premium</td>
        <td class="qty-detail">  
        <!--<i class="fa fa-minus-square" aria-hidden="true"></i>
        <input class="form-control" type="text" value="03">
        <i class="fa fa-plus-square" aria-hidden="true"></i>-->
        02
        </td>
        <td>$3000</td>
        <td>$9000</td>
        
      </tr>
      <tr class="mycart-row1">
        <td>02</td>
        <td>CAD</td>
        <td>CAD Line Work</td>
        <td>01</td>
        <td>$3000</td>
        <td>$9000</td>
      
      </tr>
     
    </tbody>
    <tfoot>
       <tr class="mycart-row1">
       <td class="total total-amount total-amt-cen "   colspan="5">Subtotal:<br>Shipping Chagre:<br>Total Amount:</td> 
       <td class="text-center total total-amt-cen">$12000<br>$12000<br>$12000</td>  
     </tr>
       

       
    </tfoot>
  </table>
        </div>
  
    </div>

</div>
</div>