<div class="bg-work bg-calculator">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1  col-xs-11 ">
                <div class="text-center support-heading2 ">
                    <h1>how we work</h1>
                    <div class="text-justify">
                        <h3 class="text-center mt10">Houston, we've got it covered!</h3>
                        <p class="mt15 support-left support-left2">Great solutions are almost intuitive, solving problems that nobody can anticipate.</p>
                        <p class="mt15 support-left support-left2">UNIFLI does just that - we’re hyper aware of all the pain points involved in drone data creation and management, and our services are tied together to ease them. There’s a hidden beauty in seamless processes, and that’s the magic we add to our special line-up of services at UNIFLI. Here’s how we work. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="work-container">
            <div class="row">
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="inline-block img-step1">
                    <img src="frontend/img/work3.png" class="img-responsive">
                    </div> 
                    <div class="step-1a inline-block w-50">
                    <h2 class="step step-right">Step 1a</h2>
                    <h3 class="work-margin">get a drone !</h3>
                    <p class="m-0 text-justify">Choose from our range of <span class="underline weight-700" ui-sref="product">cutting edge surveying machines.</span>Our support staff will help you find a drone that’s engineered to satisfy your needs. All the drones in the UNIFLI lineup are tested and adhere to FAA regulations.</p>
                   </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                </div>
            </div>

                <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                </div>
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="step-1b inline-block w-50 float-r">
                     <h2 class="step step-left">Step 1b</h2>
                    <h3 class="work-margin">have a drone already?</h3>
                    <p class="m-0 text-justify">UNIFLI offers a range of drone file management services to help you convert the data to any format you need. Generate reports and get high quality orthomosaics and CAD drafting done with your data, with lightning fast turnarounds. All you have to do is <span class="underline weight-700" ui-sref="member">sign up!</span></p>
                    </div>
                    <div class="inline-block float-r img-step1b mb-top">
                    <img src="frontend/img/work4.png" class="img-responsive">
                    </div>
                </div>
                </div>

                <div class="row">
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="step2 ">
                    <div class="inline-block img-step1">
                    <img src="frontend/img/work2.png" class="img-responsive">
                    </div> 
                    <div class="inline-block w-50">
                    <h2 class="step step-right step-2-top" ui-sref="member">Step 2</h2>
                    <h3 class="work-margin">receive your coupon code</h3>
                    <p class="m-0 text-justify">Get a UNIFLI coupon code on every purchase, and get special discounts on our drone file management services. Create accurate orthomosaics, 3D elevation models, elevation extractions (DEMs) and NDVI from your captured drone data, all within a few clicks!</p>
                    </div>
                </div>
                </div>
                <div class="col-md-2 col-sm-2 col-sm-2">
                </div>
            </div>

                <div class="row">
                 <div class="col-md-6">
                  <div class="worklogo">
                    <img src="frontend/img/worklogo.png" class="img-responsive doneLoading">
                  </div>
                 </div>
                 <div class="col-md-6 col-sm-8 col-xs-12">
                    <div class="step3  inline-block w-60 float-r">
                    <h2 class="step step-top" ui-sref="google-map-2">Step 3</h2>
                    <h3 class="work-margin">check out our CAD services</h3>
                    <p class="m-0 text-justify">Capturing drone data is the easier part, but how do you get professional CAD drafting done for the land and sites you’ve surveyed? This is where we go the extra mile. It’s easy!</p>
                    <p class="text-justify mt15">Sign in, use the inbuilt <span class="underline weight-700" ui-sref="google-map"> Google Maps Area Calculator </span> to select the exact area you need drafting help with, upload a photo and send us a CAD request. In under 36 hours, you’ll receive your file for a quick download!</p>
                    <p class="text-justify mt15">Really, it’s that simple.</p>
                    </div>
                    <div class="inline-block float-r img-step1b step3-mar">
                    <img src="frontend/img/work1.png" class="img-responsive">
                    </div> 
                 </div>   
                </div>
                </div>
            </div>
        </div>
    </div>
</div>