<div class="bg-member">
    <div class="container">
        <div class="text-center member-heading mtop-member">
            <h1 class="m-0">become a member</h1>
        </div>
        <div class="signup-container">
            <form name="member" ng-submit="test(xs,formData)" novalidate>

                <div class="member-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="member-col">
                                <div class="form-group">
                                    <input type="text" placeholder="Name" value="" class="member-input" name="name" ng-model="formData.name" required>
                                </div>
                                <div class="form-group">
                                    <input id="pass" type="password" placeholder="Password" value="" class="member-input" name="name" ng-model="formData.password" required>
                                </div>
                                <div class="form-group">
                                    <input id="cpass" type="password" placeholder="confirm Password" value="" class="member-input" name="name" ng-model="formData.confirmPassword"
                                        required>
                                        <span class="cpass" ng-show="formData.password!=formData.confirmPassword">Passwords did not match</span>
                                </div>
                                <div class="form-group">
                                    <input type="text" only-Digits ng-model="formData.phone" name="phone" placeholder="Phone" value="" class="member-input" name="Phone"
                                        minlength="8" phone-input>
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Address" value="" class="member-input" name="Address" ng-model="formData.address">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="State" value="" class="member-input" name="State" required ng-model="formData.state">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Website" class="member-input" name="Website" ng-model="formData.website">
                                    <!--<span style="color:red" ng-show="form1.web.$error.url">
        Sorry Not a Valid URL, Don't Forget to Use http://</span>-->
                                </div>
                                <div class="form-group dropdown-margin" ng-if="id==2">
                                    <i class="fa fa-caret-down member-arrow" aria-hidden="true"></i>

                                    <!--<select  class="dropdown-member"   ng-model="formData.plan" required>
                             
                                <option selected="true" disabled >plan</option>
                               <option value="TRIAL">TRIAL </option>
                               <option value="STANDARD">STANDARD</option>
                               <option value="PREMIUM">PREMIUM</option>
                           </select>-->
                                    <select name="" ng-model="formData.plan.planType" id="menulist" class="dropdown-member" required>
                                        <option disabled value="" selected>plan</option>
                                        <option value="1">TRIAL </option>
                                        <option value="2">STANDARD</option>
                                        <option value="3">PREMIUM</option>
                                    </select>
                                </div>
                                <div class="form-group radio member-form-m30" ng-if="id==2">
                                    <h4 class="inline-block">Do You Have UNIFLI Drone?</h4>
                                    <input type="radio" id="radio1" value="yes" ng-model="formData.uniDrone" required>
                                    <label for="radio1" class="pl-10">
                                        <span></span> Yes </label>
                                    <input type="radio" id="radio2" value="no" ng-model="formData.uniDrone" required>
                                    <label for="radio2">
                                        <span></span> No </label>
                                </div>
                                <!--<option value="1" ng-repeat="option in dropdownList" >{{option.plan}} </option>-->
                                <!--<select  id="menulist" class="dropdown-member" name="users" required ng-model="formData.userSelect">-->
                                <div class="form-group checkbox">
                                    <input type="checkbox" value="" id="agree" ng-model="formData.agree" required/>
                                    <label class="checkbox-inline" for="agree">I agree with all terms and conditions and privacy policy
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="member-col">
                                <div class="form-group">
                                    <input type="email" placeholder="Email" class="member-input" name="email" required ng-model="formData.email">
                                    <!--<span style="color:red" ng-show="form1.mail.$error.email">
        Sorry Not a Valid Email, Don't Forget to .com</span>-->
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Organization" value="" class="member-input" name="Organization" ng-model="formData.organization">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Designation" value="" class="member-input" name="Designation" required ng-model="formData.designation">
                                </div>
                                <div class="form-group">
                                    <input type="text" only-Digits ng-model="formData.mobile" name="mobile" placeholder="Mobile" value="" class="member-input"
                                        name="Mobile" required minlength="10" phone-input ng-model="formData.mobile">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="City" id="locationCity" ng-change="getCity()" value="" class="member-input" name="City" ng-model="formData.city">
                                </div>
                                <div class="form-group">
                                    <input type="text" only-Digits ng-model="formData.zip" name="zip" placeholder="Zip" class="member-input">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Drone Use" value="" class="member-input" name="drone" required ng-model="formData.drone">
                                </div>
                                <!--<div class="form-group member-form-m30" ng-if="id==2">
                                    <h4 class="inline-block member-right">Do You Have coupon?</h4>
                                    <input type="text" class="coupon-box" placeholder="Coupon Code">
                                </div>-->
                                <div class="form-group" ng-if="id==2">
                                    <input type="text" placeholder="$500" value="" class="member-input" only-Digits ng-model="formData.plan.money">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>

                        <button type="submit" class="btn btn-main" ng-disabled="member.$invalid || formData.password!=formData.confirmPassword" ng-click="thankOpen();">SUBMIT</button>
                    </div>
                </div>

            </form>
        </div>
        <div>
        </div>