<div class="bg-member">
    <div class="container">
        <div class="text-center member-heading mtop-member">
            <h1 class="m-0">become a member</h1>
        </div>
        <div class="signup-container">
            <form name="member" ng-submit="test(xs,formData)" novalidate>

                <div class="member-form">
                    <div class="member-col rem-bmargin">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Name" value="" class="member-input" name="name1" ng-model="formData.name" required>
                                    <span class="errormsg" ng-show="member.name1.$touched && member.name1.$invalid">The name is required.</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <input type="email" placeholder="Email" class="member-input" name="email1" required ng-model="formData.email">
                                    <span class="errormsg" ng-show="member.email1.$touched && member.email1.$invalid">The email is required.</span>
                                    <span class="errormsg" ng-show="showerr==true">email already exist<span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                 <div class="form-group">
                                <input id="pass" type="password" placeholder="Password" value="" class="member-input" name="pass" ng-model="formData.password"
                                      required>
                                   <span class="errormsg" ng-show="member.pass.$touched && member.pass.$invalid">The password is required.</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <input id="cpass" type="password" placeholder="confirm Password" value="" class="member-input" name="confpass" ng-model="formData.confirmPassword"
                                        required>
                                    <span class="errormsg" ng-show="formData.password!=formData.confirmPassword && member.confpass.$touched ">Passwords did not match.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Organization" value="" class="member-input" name="Organization" ng-model="formData.organization">
                                    <span class="errormsg" ng-show="member.Organization.$touched && member.Organization.$invalid">The Organization is required.</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Designation" value="" class="member-input" name="Designation" required ng-model="formData.designation">
                                    <span class="errormsg" ng-show="member.Designation.$touched && member.Designation.$invalid">The Designation is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" only-Digits ng-model="formData.phone" name="phone" placeholder="Phone" value="" class="member-input" name="Phone"
                                        minlength="8" phone-input>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" only-Digits ng-model="formData.mobile" name="mobile1" placeholder="Mobile" value="" class="member-input"
                                        name="Mobile" required minlength="10" phone-input ng-model="formData.mobile">
                                    <span class="errormsg" ng-show="member.mobile1.$touched && member.mobile1.$invalid">The mobile is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Address" value="" class="member-input" name="Address" ng-model="formData.address">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" placeholder="City" id="locationCity" ng-change="getCity()" value="" class="member-input" name="City" ng-model="formData.city">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" placeholder="State" value="" class="member-input" name="State1" required ng-model="formData.state">
                                    <span class="errormsg" ng-show="member.State1.$touched && member.State1.$invalid">The state is required.</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" only-Digits ng-model="formData.zip" name="zip" placeholder="Zip" class="member-input">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Website" class="member-input" name="Website" ng-model="formData.website">
                                    <!--<span style="color:red" ng-show="form1.web.$error.url">
        Sorry Not a Valid URL, Don't Forget to Use http://</span>-->
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Drone Use" value="" class="member-input" name="drone" required ng-model="formData.drone">
                                    <span class="errormsg" ng-show="member.drone.$touched && member.drone.$invalid">field is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group dropdown-margin" ng-if="id==2">
                                    <i class="fa fa-caret-down member-arrow" aria-hidden="true"></i>

                                    <!--<select  class="dropdown-member"   ng-model="formData.plan" required>
                             
                                <option selected="true" disabled >plan</option>
                               <option value="TRIAL">TRIAL </option>
                               <option value="STANDARD">STANDARD</option>
                               <option value="PREMIUM">PREMIUM</option>
                           </select>-->
                                    <select name="" ng-model="formData.plan.planType" id="menulist" class="dropdown-member" required>
                                        <option disabled value="" selected>plan</option>
                                        <option value="1">TRIAL </option>
                                        <option value="2">STANDARD</option>
                                        <option value="3">PREMIUM</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                               
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group" ng-if="id==2">
                                    <input type="text" placeholder="$500" value="" class="member-input" only-Digits ng-model="formData.plan.money">
                                </div>
                                 <div class="form-group radio member-form-m30" ng-if="id==2">
                                    <h4 class="inline-block">Do You Have UNIFLI Drone?</h4>
                                    <input type="radio" id="radio1" value="yes" ng-model="formData.uniDrone" required>
                                    <label for="radio1" class="pl-10">
                                        <span></span> Yes </label>
                                    <input type="radio" id="radio2" value="no" ng-model="formData.uniDrone" required>
                                    <label for="radio2">
                                        <span></span> No </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group checkbox member-col">
                                    <input type="checkbox" value="" id="agree" ng-model="formData.agree" required/>
                                    <label class="checkbox-inline" for="agree">I agree with all terms and conditions and privacy policy
                                        </label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-main" ng-disabled="member.$invalid || formData.password!=formData.confirmPassword" ng-click="thankOpen();">SUBMIT</button>
                        </div>
                    </div>
            </form>
        </div>
     </div>
</div>