<div class="bg-memberpage1">
    <div class="container p-80">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="text-center support-heading  mtop-member2">
                    <h1>membership</h1>
                    <div class="text-justify">
                        <h3 class="text-center mt10">Together, we can conquer the skies.</h3>
                        <p class="mt15">Every business needs an edge to stay ahead of the curve. In a highly competitive market, a strong
                            technological advantage is the only ideal factor that growing businesses can leverage - and that’s
                            why you should partner with the best!</p>
                        <p class="mt15">At UNIFLI, we believe in disruption. UNIFLI was born out of an unreasonable refusal to accept the
                            status quo, making it the perfect marriage that your business needs to outspace the competition.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="member-container mem-container-padding">
            <div class="text-center">
                <h2>Why partner with UNIFLI?</h2>
                <h3 class="mt10">Thoreau said ‘Simplify, Simplify’ and we agree.</h3>
            </div>
            <div>
                <p>Why waste time interfacing with multiple vendors, when you can simplify the solution?</p>
                <p>UNIFLI is your one stop shop for everything from buying drones to getting world class image processing and
                    CAD support. With our end to end services, reduce overheads and increase efficiency internally, powering
                    through while your competitors face the dust. </p>
                <p>Not just that, UNIFLI allows easier and in-depth drone data analysis through its automated features for members.</p>
                <p>As a member, you’ll have immediate access to all our premium services.</p>
            </div>

            <div class="member-p-20">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <img src="img/member/3D-Model.png" class="img-responsive img-drafting">
                        <div class="text-center">
                            <h4 class="mt10">3D-Model</h4>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <img src="img/member/3D-Point-Cloud.png" class="img-responsive img-drafting">
                        <div class="text-center">
                            <h4 class="mt10">3D-Point-Cloud</h4>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <img src="img/member/CAD-Drawing.png" class="img-responsive img-drafting">
                        <div class="text-center">
                            <h4 class="mt10">CAD-Drawing</h4>
                        </div>

                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <img src="img/member/Contour-Lines.png" class="img-responsive img-drafting">
                        <div class=" text-center">
                            <h4 class="mt10">Contour-Lines</h4>
                        </div>

                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <img src="img/member/DSM.png" class="img-responsive img-drafting">
                        <div class="text-center">
                            <h4 class="mt10">DSM</h4>
                        </div>

                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12"></div>
                </div>
                <div class="member-p-20-2">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <img src="img/member/Orthomosaic.png" class="img-responsive img-drafting">
                            <div class="text-center">
                                <h4 class="mt10">Orthomosaic</h4>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <img src="img/member/Volume-Calculation.png" class="img-responsive img-drafting">
                            <div class="text-center">
                                <h4 class="mt10">Volume-Calculation</h4>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div>
                <p>When it comes to serveying, one size doesn't fit all!</p>
                <p>Choose from between Standard and Professional plan and see what's right for your needs.</p>
            </div>
        </div>

        <div class="row">
            <h1 class="available-font text-center">available plans</h1>
        </div>
        <div class="member-container">

            <div class="member-table">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <!--<th>TRIAL <br>PRICE: $0.00</th>
                                <th>STANDARD<br> PRICE: $149.00</th>
                                <th>PREMIUM<br> PRICE: $199.00</th>-->
                                <th>DFM FREE </th>
                                <th>DFM STANDARD</th>
                                <th>DFM PRO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="font-bold">Plans</td>
                                <td class="font-bold">Plan Details</td>
                                <td class="font-bold">Plan Details</td>
                                <td class="font-bold">Plan Details</td>
                            </tr>
                            <tr>
                                <td class="font-bold">Total Missions</td>
                                <td>1</td>
                                <td>3</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td class="font-bold">Photo Uploads (Max Count)</td>
                                <td>200</td>
                                <td>1200</td>
                                <td>2500</td>
                            </tr>
                            <tr>
                                <td class="font-bold">Upload (Max Size)</td>
                                <td>2 GB</td>
                                <td>10 GB</td>
                                <td>20 GB</td>
                            </tr>
                            <tr>
                                <td class="font-bold">Mosaic (resolution cm/px):</td>
                                <td>15 cm</td>
                                <td>2 cm</td>
                                <td>2 cm</td>
                            </tr>
                            <!--<tr>
                                <td class="font-bold">Mosaic (resolution cm/px)</td>
                                <td>15</td>
                                <td>15</td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td class="font-bold"> Export KMZ</td>
                                <td>False</td>
                                <td>True</td>
                                <td>True</td>
                            </tr>
                            <tr>
                                <td class="font-bold">Export Orthophoto</td>
                                <td>True</td>
                                <td>True</td>
                                <td>True</td>
                            </tr>
                            <tr>
                                <td class="font-bold">Export DEM</td>
                                <td>False</td>
                                <td>True</td>
                                <td>True</td>
                            </tr>
                            <tr>
                                <td class="font-bold">Export Point Cloud</td>
                                <td>False</td>
                                <td>False</td>
                                <td>True</td>
                            </tr>-->
                            <tr>
                                <td class="font-bold">Apps & Downloads:</td>
                                <td>
                                    <ul>
                                        <li>Input images (.ZIP)</li>
                                        <li>Orthomosaic (.TIFF)</li>
                                        <li>DSM (.TIFF)</li>
                                        <li>Mesh OBJ (.ZIP)</li>
                                        <li>Mesh (.FBX)</li>
                                        <li>Point Cloud (.LAS)</li>
                                        <li>assignment Quality Report (.PDF)</li>
                                        <li>dvr Processing Log (.LOG)</li>
                                        <!--<li>Shapefile Export</li>
                                        <li>Volume Calculator</li>
                                        <li>KMZ Export</li>
                                        <li>Point Cloud</li>
                                        <li>Leaf Area Index</li>
                                        <li>Management Zones</li>
                                        <li>NGB False Color</li>
                                        <li>Water Drainage Map </li>
                                        <li>Emergency Uniformity</li>-->
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li>Input images (.ZIP)</li>
                                        <li>Orthomosaic (.TIFF)</li>
                                        <li>DSM (.TIFF)</li>
                                        <li>Mesh OBJ (.ZIP)</li>
                                        <li>Mesh (.FBX)</li>
                                        <li>Point Cloud (.LAS)</li>
                                        <li>assignment Quality Report (.PDF)</li>
                                        <li>dvr Processing Log (.LOG)</li>
                                        <!--<li>Volume Calculator</li>
                                        <li>KMZ Export</li>
                                        <li>3d model</li>
                                        <li>3d PDF</li>
                                        <li>Point Cloud</li>
                                        <li>Leaf Area Index</li>
                                        <li>Management Zones</li>
                                        <li>Emergency Uniformity</li>
                                        <li>Ground Refinement Point<br>(GRP)</li>-->
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li>Input images (.ZIP)</li>
                                        <li>Orthomosaic (.TIFF)</li>
                                        <li>DSM (.TIFF)</li>
                                        <li>Mesh OBJ (.ZIP)</li>
                                        <li>Mesh (.FBX)</li>
                                        <li>Point Cloud (.LAS)</li>
                                        <li>assignment Quality Report (.PDF)</li>
                                        <li>dvr Processing Log (.LOG)</li>
                                        <!--<li>3d model</li>
                                        <li>3d PDF</li>
                                        <li>Point Cloud</li>
                                        <li>Leaf Area Index</li>
                                        <li>Management Zones</li>
                                        <li>NGB False Color</li>
                                        <li>Water Drainage Map</li>
                                        <li>Emergency Uniformity</li>
                                        <li>Ground Refinement Point<br>(GRP)</li>
                                        <li>Weedspray</li>-->
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <button type="submit" class="btn btn-main" ng-click="saveFreeTrial()">start a free trial</button>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-main" ng-click="saveStandard()">subscribe</button>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-main" ng-click="savepremimum()">subscribe</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>



        <div class="text-center">
            <!--<h2 class="member-font-1">Have a coupon code on your drone purchase?</h2>-->
            <div>
                <button type="submit" class="btn btn-become" ui-sref="member({id:2})">Become a member today</button>
            </div>
        </div>

    </div>
</div>