<div class="bg-mycart">
  <div class="container mycart-container">
    <div class="text-center">
      <h1 class="mycart-heading">my cart</h1>
    </div>
    <div class="mycart-content">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="text-center mycart-row">
              <th class="mycart-head weight-700">Serial No.</th>
              <th class="mycart-head weight-700" ng-show="packOrProduct=='product'">Product</th>
              <th class="mycart-head weight-700" ng-show="packOrProduct=='package'">Package</th>
              <th class="mycart-head weight-700">Quantity</th>
              <th class="mycart-head weight-700">Amount</th>
              <th class="mycart-head weight-700">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr class="mycart-row1" ng-repeat="cart in myCart.cartProducts">
              <td>{{$index+1}}</td>
              <td ng-show="packOrProduct=='product'">{{cart.product.name}}</td>
              <td ng-show="packOrProduct=='package'">{{cart.package}}</td>
              <td class="qty-detail">
                <i class="fa fa-minus-square" ng-click="reduceQuantity($index)" aria-hidden="true"></i>
                <input class="form-control" type="text" ng-model="cart.qty">
                <i class="fa fa-plus-square" ng-click="addQuantity($index)" aria-hidden="true"></i>
              </td>
              <td>${{cart.product.price}} </td>
              <td>${{cart.product.price*cart.qty}} <span class="delete-span"><i class="fa fa-trash" aria-hidden="true" ng-click="removeCartProduct(cart._id)"></i></span></td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="mycart-row1">
              <td class="total" colspan="4">Total Amount:</td>
              <td class="text-center total">${{totalAMoutIs}}</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="clearfix">
            <div class="float-l mycart-coupon-box"><span class="weight-700">Apply coupon code :</span><input type="text" class="coupon-box ml-10" ng-model="myCart.cart.discountCoupon"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <button type="submit" class="btn btn-main btn-mycart float-r" ng-click="checkout(myCart,totalAMoutIs)">Checkout</button>
          </div>
          <div>
            <!--<button type="submit" class="btn btn-main btn-back btn-mycart float-r">Back</button>-->
          </div>
        </div>
      </div>
    </div>

  </div>
</div>