<div class="bg-privacypolicy">
    <div class="text-center policy-heading mtop-member">
     <h1>privacy policy</h1>
    </div>

<div class="container">   
<div class="policy-container">
    <div class="data-padding text-justify">
<p>Information Collection, Use, and Sharing</p>
<p>We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.</p>

<p>We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.</p>
<p>Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.</p>
    </div>
    <div class="data-padding text-justify privacy-ml">
<h4>YOUR ACCESS TO AND CONTROL OVER INORMATION</h4>
<p>You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on www.unifli.aero:</p>
 <ul>
     <li>See what data we have about you, if any.</li>
     <li>Change/correct any data we have about you.</li>
     <li>Have us delete any data we have about you.</li>
     <li>Express any concern you have about our use of your data.</li>
 </ul>
 <p>We collect the e-mail addresses of those who communicate with us via e-mail, aggregate information on what pages consumers access or visit, and information volunteered by the consumer (such as survey information and/or site registrations). The information we collect is used to improve the content of our Web pages and the quality of our service, and is not shared with or sold to other organizations for commercial purposes, except to provide products or services you've requested, when we have your permission, or under the following circumstances:</p>
<ul>
    <li>It is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of Terms of Service, or as otherwise required by law.</li>
    <li>We transfer information about you if Propeller is acquired by or merged with another company. In this event, Propeller will notify you before information about you is transferred and becomes subject to a different privacy policy.</li>
</ul>
    </div>
    <div class="data-padding text-justify">
<h4>SECURITY</h4>
<p>We take precautions to protect your information. When you submit sensitive information via www.unifli.aero, your information is protected both online and offline.<P>
<P>Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a closed lock icon at the bottom of your web browser, or looking for "https" at the beginning of the address of the web page.</P>
<P>While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.</p>
    </div>
    <div>
<h4 class="data-padding text-justify">REGISTRATION</h4>
<p>In order to use www.unifli.aero, a user must first complete the registration form. During registration a user is required to give certain information (such as name and email address). This information is used to contact you about the services on our site in which you have expressed interest. At your option, you may also provide demographic information (such as gender or age) about yourself, but it is not required.</p>
    </div>

    <div class="data-padding text-justify">
<h4>DFM</h4>
<p>We request information from you on our order form. To process files, you must provide contact information (like name and shipping address) and financial information (like credit card number, expiration date). For now we have an Online Payment Gateway hence do not need your Card information on www.unifli.aero. This information is used for billing purposes and to fill your orders. If we have trouble processing an order, we'll use this information to contact you.</p>
    </div>

    <div class="data-padding text-justify">
<h4>COOKIES</h4>
<p>We do not use "cookies" on www.unifli.aero.</p>
    </div>

    <div class="data-padding text-justify">
<h4>SHARING</h4>
<p>We DO NOT share aggregated demographic information with anyone. We use AUTHORIZE.NET as a payment gateway to bill you for the services. AUTHORIZE.NET do not retain, share, store or use personally identifiable information for any secondary purposes beyond filling your order, unless you are registered with them.</p>
    </div>
    
    <div class="data-padding text-justify">
<h4>SURVEYS & CONTESTS</h4>
<p>From time-to-time our site requests information via surveys or contests. Participation in these surveys or contests is completely voluntary and you may choose whether or not to participate and therefore disclose this information. Information requested may include contact information (such as name and shipping address), and demographic information (such as zip code, age level). Contact information will be used to notify the winners and award prizes. Survey information will be used for purposes of monitoring or improving the use and satisfaction of our services.</p>
    </div>
</div>
</div>
</div>











