<div class="product">
    <div class="container">
        <div class="product-type text-center">
            <div class="drone-image">
                <img src="img/product/drones.png" class="img-responsive" alt="drone">
            </div>
            <div class="drone-info">
                <h1>FC-250</h1>
                <p>Engineered to redefine precision and endurance, the Lazer is our flagship survey and inspection platform.
                    Armed with a rapid deployment mechanism and the latest technology, this revolutionary quadcopter features
                    an innovative design that adds effortless portability, faster flight and added durability for an all-round
                    machine that underlines efficiency.</p>
            </div>
        </div>
        <div class="video pointer text-center">
            <h2 class="video-icon">watch the
                <span>
                    <a class="fancybox.iframe" href="https://www.youtube.com/embed/iAzokG89WW4?ecver=1" fancybox>
                        <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </a>
                </span>product film
            </h2>
        </div>
        <div class="features">
            <h1 class="text-center">features</h1>
            <div class="feature-min">
                <div class="row-flex ">
                    <div class="col-flex text-center">
                        <div class="padding-l">
                            <div class="feature-img flight">
                            </div>
                            <div class="feature-text">
                                <h4 class="w-space">Flight time with
                                    <br> payload 30 Minutes +</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-flex text-center">
                        <div class="padding">
                            <div class="feature-img propeller">
                            </div>
                            <div class="feature-text">
                                <h4>4 Balsa Core High Performance
                                    <br> Carbon Fiber T-motor Propellers
                                    <br>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-flex text-center">
                        <div class="padding-r">
                            <div class="feature-img motor">
                            </div>
                            <div class="feature-text">
                                <h4 class="w-space">Powered by (4)
                                    <br>water/dust proof 400KV motors</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pads">
                    <div class="row-flex">
                        <div class="col-flex text-center">
                            <div class="padding-l member-p-20-2">
                                <div class="feature-img weight">
                                </div>
                                <div class="feature-text">
                                    <h4>Maximum payload capacity
                                        <br> 6 pounds</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-flex text-center">
                            <div class="padding-r member-p-20-2">
                                <div class="feature-img autonomous">
                                </div>
                                <div class="feature-text">
                                    <h4>Fully autonomous flight mode
                                        <br> with flight log tracking and recording
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feature-images">
                <div class="row-flex">
                    <div class="col-flex">
                        <a fancybox-box href="img/product/image11.jpg" rel="gallery">
                            <div class="images drone1"></div>
                        </a>
                    </div>
                    <div class="col-flex">
                        <a fancybox-box href="img/product/image12.jpg" rel="gallery">
                            <div class="images drone2"> </div>
                        </a>
                    </div>
                    <div class="col-flex">
                        <a fancybox-box href="img/product/image13.jpg" rel="gallery">
                            <div class="images drone3"></div>
                        </a>
                    </div>
                    <div class="col-flex">
                        <a fancybox-box href="img/product/image14.jpg" rel="gallery">
                            <div class="images drone4"></div>
                        </a>
                    </div>
                </div>
                <div class="row-flex">
                    <div class="col-flex">
                        <a fancybox-box href="img/product/image15.jpg" rel="gallery">
                            <div class="images drone5"></div>
                        </a>
                    </div>
                    <div class="col-flex">
                        <a fancybox-box href="img/product/image16.jpg" rel="gallery">
                            <div class="images drone6"></div>
                        </a>
                    </div>
                    <div class="col-flex">
                        <a fancybox-box href="img/product/image17.jpg" rel="gallery">
                            <div class="images drone7"></div>
                        </a>
                    </div>
                    <div class="col-flex">
                        <a fancybox-box href="img/product/image18.jpg" rel="gallery">
                            <div class="images drone8"></div>
                        </a>
                    </div>
                </div>
                <div class="ext-spec">
                    <h2 class="text-center">Extended Specifications</h2>
                    <div class="top-spacing-product">
                        <div class="row ">
                            <div class="col-md-6">
                                <div class="no-pad">
                                    <h3>Aircraft</h3>
                                    <ul>
                                        <li>Advanced Matrix Quadcopter System</li>
                                        <li>Futaba 14SG Transmitter + R7008SB Two Way Receiver + Telemetry Voltage Sensor</li>
                                        <li>4x 15" T-Motor Precision Propellers</li>
                                        <li>2x Structural Beams</li>
                                        <li>C4 Vibration Isolation Deck</li>
                                        <li>Gyrox-5R Brushless Gimbal for Sony A6000</li>
                                        <li>Foldable Arms with Convert-able Sport Mounting Position</li>
                                        <li>Foldable &amp; Adjustable Landing Skids</li>
                                        <li>Pixhawk 2 Flight Controller + GPS System </li>
                                        <li>GPS-Lock, Return-to-Home, Course-Lock, Home-Lock</li>
                                        <li>4x Dynamically Balanced Brushless Motors</li>
                                        <li>4x 40A ESCs with Cooling Algorithm</li>
                                        <li>16,000mAh 25C 6S (22.2V) LiPo Battery</li>
                                        <li>B601 Professional Programmable Wall Charger</li>
                                        <li>User Instruction Manual in Flash Drive</li>
                                        <li>FPV Live Feed Video available</li>
                                        <li>Typical Operating Weight with Sony A6000: Matrix+Gyrox Gimbal&amp;Power (5.5LB) +
                                            A6000+Lense (1LB), 16,000mah Battery (5.0LB) = Total: 12LB</li>
                                        <li>Optional emergency parachute available</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="no-pad">
                                    <h3>Additional Features</h3>
                                    <ul>
                                        <li>Microsoft Surface Pro (Intel i5, 128GB, 4GB RAM) with custom fit MobileDemand Rugged
                                            Case (protective rugged case with rubber bumpers. Comes with adjustable kickstand,
                                            handstrap, briefcase handle and port covers)</li>
                                        <li>Advanced ground control software tailored for ease of use and mission planning and
                                            tracking.
                                        </li>
                                        <li>Scaleable design with efficient upgrading capabilities.</li>
                                        <li>Pre-installed Septentrio GEOTagz post processing GUI with security FOB</li>
                                        <li>Ideal unobstructed auto-stabilized camera/gimbal location</li>
                                        <li>Folds and fits neatly into a carry-on sized waterproof hardshell plastic case</li>
                                        <li>Ultra durable &amp; maintenance friendly</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="top-product">
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="no-pad">
                                        <h3>Camera</h3>
                                        <ul>
                                            <li>Single forward facing FPV camera with 8” video receiver and monitor for live
                                                feed.
                                            </li>
                                            <li>Sony A6000 with fixed 20mm Sony Alpha lens, includes custom triggering and recording
                                                cables.
                                            </li>
                                            <li>Custom 2 axis aluminum brushless gimbal</li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="no-pad">
                                        <h3>GPS</h3>
                                        <ul>
                                            <li>Septentrio AsteRx-m2 UAS GNSS receiver, providing ultra-low power, centimeter-level
                                                RTK positioning.</li>
                                            <li>448 hardware channels for simultaneous tracking of all visible satellite signals:
                                                <ul>
                                                    <li> GPS: L1, L2, L5• GLONASS: L1, L2, L3• Galileo: E1, E5a, E5b, AltBoc 1•
                                                        BeiDou: B1, B21• SBAS: EGNOS, WAAS, GAGAN, MSAS, SDCM L1, L5• IRNSS:
                                                        L51• QZSS: L1, L2, L5</li>
                                                </ul>
                                            </li>
                                            <li>
                                                Minimal to no need for Ground Control Points..
                                                <ul>
                                                    <li>The AsteRx-m2 UAS works seamlessly with GeoTagZ software and its SDK
                                                        library for RPK (ReProcessed Kinematic) offline processing. This
                                                        gives RTK accuracy without the need for Ground Control points or
                                                        a real-time datalink.</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="package product-margin">
            <h2 class="text-center">Choose Your Package</h2>
            <div class="tab makeActive-service">
                <!-- ngRepeat: prod in productData -->
                <ul class="list-inline row-flex ng-scope" ng-repeat="prod in productData">
                    <li class="package-bg col-flex text-center view-data" ng-click="showDetails(viewDetail=1)">
                        <div class="support-icon w0">
                            <h3 class="text-uppercase white ng-binding">Basic</h3>
                            <h4 class="white bordernone ng-binding"></h4>
                        </div>
                    </li>
                    <li class="package-bg col-flex  text-center  view-data" ng-click="showDetails(viewDetail=2)">
                        <div class="support-icon w0">
                            <h3 class="text-uppercase white ng-binding">Standard</h3>
                            <h4 class="white bordernone ng-binding"></h4>
                        </div>
                    </li>
                    <li class="package-bg col-flex text-center view-data" ng-click="showDetails(viewDetail=3)">
                        <div class="support-icon w0">
                            <h3 class="text-uppercase white ng-binding">Professional</h3>
                            <h4 class="white bordernone ng-binding"></h4>
                        </div>
                    </li>
                </ul>
                <!-- end ngRepeat: prod in productData -->
            </div>
            <!-- ngIf: viewDetail==1 -->
            <div class="design ng-scope" ng-if="viewDetail==1">
                <!-- <div class="pack-one text-center">
                    <div class="image-one inline-block">
                        <img src="img/product/drones.png" class="img-responsive doneLoading" alt="">
                    </div>
                    <div class="image-one inline-block">
                        <img src="img/product/image9.png" class="img-responsive doneLoading" alt="">
                    </div>
                </div>
                <div class="uav-inner">
                    <h4>Juniper Allegro 2</h4>
                    <p>Ergonomically styled, with a glove-friendly QWERTY + numeric keyboard that’s perfect for fast data entry
                        and faster processing, the quintessential industry favorite Allegro 2 now comes with upgraded connectivity,
                        battery power, display visibility, and a better touchscreen. Crafted for high volume data collection
                        and maximum efficiency, the Allegro 2 remains the standard for drone data collection and analysis
                        globally.
                    </p>
                </div>
                <div class="pad-overall">
                    <h2 class="text-center text-uppercase">uav only</h2>
                    <button class="button text-uppercase" ng-click="addToCartProduct1(viewDetail)">buy now</button>
                </div> -->
                <div class="image-one text-center">
                    <img src="img/product/drones.png" class="img-responsive doneLoading" alt="">
                </div>
                <div>
                    <h4>UAV only</h4>
                    <ul>
                        <li>UAV only with Onboard AsteRx-m2 UAV receiver </li>
                        <!--<li>Price: <b>$14,998</b></li>-->
                    </ul>
                </div>
                <div class="pad-overall">
                    <h2 class="text-center text-uppercase">$14,998</h2>
                    <button class="button text-uppercase" ng-click="addToCartProduct1(viewDetail)">buy now</button>
                </div>
            </div>
            <!-- end ngIf: viewDetail==1 -->
            <!-- ngIf: viewDetail==2 -->
            <div class="design ng-scope" ng-if="viewDetail==2">
                <!-- <h3>UAV With Single Rovers</h3>
                <div class="uav-inner">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Comes with:</h4>
                            <ul>
                                <li>UAV with single rovers</li>
                                <li>Septentrio ALTUS APS3G Smart GPS Antenna</li>
                                <li>Juniper Allegro 2 GPS Field Controller</li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <ul class="list-inline uav-images m-0">
                                <li class="drone-width">
                                    <img src="img/product/drones.png" class="img-responsive doneLoading" alt="">
                                </li>
                                <li class="remote-width">
                                    <img src="img/product/image9.png" class="img-responsive doneLoading" alt="">
                                </li>
                                <li class="remote-width">
                                    <img src="img/product/box.png" class="img-responsive doneLoading" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uav-inner">
                    <h4>Septentrio ALTUS APS3G</h4>
                    <p>The ALTUS APS3G is a high precision GNSS receiver that’s engineered for efficient and accurate surveying.
                        Experience improved performance, superior battery life, razor sharp accuracy and incredible flexibility
                        as your survey vastly different geographies. The ALTUS APS3G is highly compatible with multiple hardware
                        and software solutions, and delivers high performance for more than a day with just a single battery
                        charge. Comes with Bluetooth functionality, integrated UHF radio and the latest GNSS technology.</p>
                </div>
                <div class="uav-inner">
                    <h4>Juniper Allegro 2</h4>
                    <p>Ergonomically styled, with a glove-friendly QWERTY + numeric keyboard that’s perfect for fast data entry
                        and faster processing, the quintessential industry favorite Allegro 2 now comes with upgraded connectivity,
                        battery power, display visibility, and a better touchscreen. Crafted for high volume data collection
                        and maximum efficiency, the Allegro 2 remains the standard for drone data collection and analysis
                        globally.
                    </p>
                </div>
                <button class="button text-uppercase" ng-click="addToCartProduct2(viewDetail)">buy now</button> -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="image-one text-center">
                            <img src="img/product/prodrones.png" class="img-responsive doneLoading" alt="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="image-one text-center">
                            <img src="img/product/image9.png" class="img-responsive doneLoading" alt="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="image-one text-center">
                            <img src="img/product/rover_altus.png" class="img-responsive doneLoading" alt="">
                        </div>
                    </div>
                </div>
                <div>
                    <h4>UAV with</h4>
                    <ul>
                        <li>UAV with Onboard AsteRx-m2 UAV receiver</li>
                        <li>Surface Pro Ground Control Station</li>
                        <li>(1) Altus APS3G-C Base receiver</li>
                        <li>Allegro Field Data Collector</li>
                        <li>Field essentials (bi-pod, 2 meter pole, carry case, pole clamp), extra 16,000 mah battery</li>
                        <!--<li>Price: <b>$31,299</b></li>-->
                    </ul>
                </div>
                <div class="pad-overall">
                    <h2 class="text-center text-uppercase">$31,299</h2>
                    <button class="button text-uppercase" ng-click="addToCartProduct2(viewDetail)">buy now</button>
                </div>
            </div>
            <!-- end ngIf: viewDetail==2 -->
            <!-- ngIf: viewDetail==3 -->
            <div class="design ng-scope" ng-if="viewDetail==3">
                <!-- <h3>UAV With Dual Rovers</h3>
                <div class="uav-inner">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Comes with:</h4>
                            <ul>
                                <li>UAV with dual rovers</li>
                                <li>Septentrio ALTUS APS3G Smart GPS Antenna</li>
                                <li>Juniper Allegro 2 GPS Field Controller</li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <ul class="list-inline uav-images m-0">
                                <li class="drone-width">
                                    <img src="img/product/drones.png" class="img-responsive doneLoading" alt="">
                                </li>
                                <li class="remote-width">
                                    <img src="img/product/image9.png" class="img-responsive doneLoading" alt="">
                                </li>
                                <li class="remote-width">
                                    <img src="img/product/imagess.png" class="img-responsive doneLoading" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uav-inner">
                    <h4>Septentrio ALTUS APS3G</h4>
                    <p>The ALTUS APS3G is a high precision GNSS receiver that’s engineered for efficient and accurate surveying.
                        Experience improved performance, superior battery life, razor sharp accuracy and incredible flexibility
                        as your survey vastly different geographies. The ALTUS APS3G is highly compatible with multiple hardware
                        and software solutions, and delivers high performance for more than a day with just a single battery
                        charge. Comes with Bluetooth functionality, integrated UHF radio and the latest GNSS technology.</p>
                </div>
                <div class="uav-inner">
                    <h4>Juniper Allegro 2</h4>
                    <p>Ergonomically styled, with a glove-friendly QWERTY + numeric keyboard that’s perfect for fast data entry
                        and faster processing, the quintessential industry favorite Allegro 2 now comes with upgraded connectivity,
                        battery power, display visibility, and a better touchscreen. Crafted for high volume data collection
                        and maximum efficiency, the Allegro 2 remains the standard for drone data collection and analysis
                        globally.
                    </p>
                </div>
                <button class="button text-uppercase" ng-click="addToCartProduct3(viewDetail)">buy now</button> -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="image-one text-center">
                            <img src="img/product/prodrones.png" class="img-responsive doneLoading" alt="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="image-one text-center">
                            <img src="img/product/image9.png" class="img-responsive doneLoading" alt="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="image-one text-center">
                            <img src="img/product/rover_altus.png" class="img-responsive doneLoading" alt="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="image-one text-center">
                            <img src="img/product/rover_altus.png" class="img-responsive doneLoading" alt="">
                        </div>
                    </div>
                </div>
                <div>
                    <h4>UAV with</h4>
                    <ul>
                        <li>UAV with Onboard AsteRx-m2 UAV receiver</li>
                        <li>Surface Pro Ground Control Station</li>
                        <li>(2) Altus APS3G-C Base receiver, Allegro Field Data Collector</li>
                        <li>Field essentials (2-bi-pod's, 2- 2 meter pole, carry case, pole clamp)</li>
                        <li> (2) extra 16,000 mah battery</li>
                        <!--<li>Price: <b>$39,498</b></li>-->
                    </ul>
                </div>
                <div class="pad-overall">
                    <h2 class="text-center text-uppercase">$39,498</h2>
                    <button class="button text-uppercase" ng-click="addToCartProduct3(viewDetail)">buy now</button>
                </div>
            </div>
        </div>
        <!-- end ngIf: viewDetail==3 -->
    </div>
</div>