<div class="bg-service">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="text-center support-heading">
                    <h1>services</h1>
                    <div class="text-justify">
                        <h3 class="text-center mt10">ears on the ground and eyes in the sky!</h3>
                        <p class="mb support-left support-left3">UNIFLI was born out of a vision to unify drone surveying, data management and CAD conversion under a single umbrella, to create a one-stop-shop that solves all your problems. Our engineers, analysts, and drones fly the extra mile to bring this vision to life every single day.</p>
                        <p class="mb support-left support-left3">Engineered to fit all your requirements, UNIFLI follows a unique 3D approach.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
         
<div class="container">
     <div class="service-content">

        <div class="row makeActive-service" ng-init="viewDetail=1">
            
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="text-center view-data" ng-click="viewDetail = 1;" ng-class="{'active': viewDetail==1, '': viewDetail!==1}">
                    <div class="support-icon">
                    <img src="frontend/img/support-1.png" alt="">
                    </div>
                    <h3 class="service-content--pointer">Drone</h3>
                   
                    <p class="text-justify  p-minheight service-content--pointer">Deploy our high precision drones to add an edge to your surveying tools, taking your operational efficiency and topographic analysis up a few notches.</p>
                     <i class="fa fa-arrow-down service-content-arrow  view-data" aria-hidden="true"></i>
                </div>
            </div>

            <div class="col-md-4  col-sm-4 col-xs-4">
                <div class="text-center view-data" ng-click="viewDetail=2;" ng-class="{'active': viewDetail==2, '': viewDetail!==2}">
                    <div class="support-icon">
                    <img src="frontend/img/support-2.png" alt="">
                    </div>
                    <div class="service-data">
                    <h3 class="service-content--pointer">Data</h3>
                    <p class="text-justify  p-minheight service-content--pointer">Elevate your business to new heights by effectively processing your data for enhanced productivity.</p>
                     <i class="fa fa-arrow-down service-content-arrow  view-data" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-4  col-sm-4 col-xs-4">
              <div class="text-center view-data" ng-click="viewDetail=3;" ng-class="{'active': viewDetail==3, '': viewDetail!==3}">
                    <div class="support-icon">
                    <img src="frontend/img/support-3.png" alt="">
                    </div>
                     <h3 class="service-content--pointer">Drafting</h3>
                    <p class="text-justify  p-minheight service-content--pointer">Why take the trouble of consulting external agencies for your CAD requirements, when you can get end to end solutions under one roof?</p>
                     <i class="fa fa-arrow-down service-content-arrow " aria-hidden="true"></i>
                </div>
            </div>
        </div>

         
         <div class="row">
            <div class="col-md-12">
                <div class="mt20" ng-show="viewDetail==3">
                 <div class="text-center">
                   <h2 class="drone-heading">CAD Conversion</h2>
                   <h3 class="text-center mt10">draft and display data, just the way you want it.</h3>
                 </div>
                <div>                   
                <p class="deploy"> Why take the trouble of counsulting external agencies or your CAD requirement, when you can get end to end solutions under one roof?</p>
                <p>At UNIFLI, we anticipate your every single move ahead of time. That's precisely why we offer CAD drafting why we offer CAD drafting and conversion solutions for your orthophotos, so you can process your drone data in any format you need!.</p>
                <p>Our CAD conversion service is uniquely tailored to add value to your project.</p>
                </div>
                <div class="row">
                    <div class="m-50">
                    <div class="col-md-4 text-center">
                        <img src="frontend/img/drafting2.png" class="img-responsive img-drafting">
                        <p class="text-justify">Experience instant data analysis and easier topographic inspections, thanks to our highly efficient CAD drafting and conversion experts.</p>
                    </div>
                     <div class="col-md-4 text-center">
                         <img src="frontend/img/drafting3.png" class="img-responsive img-drafting">
                         <p class="text-justify service-data">Get used to lightning fast turnarounds on all your CAD work, with our expert engineers and analysts working round the clock from key locations around the globe.</p>
                    </div>
                     <div class="col-md-4 text-center">
                         <img src="frontend/img/drafting1.png" class="img-responsive img-drafting">
                         <p class="text-justify">Discover our super smooth workflow as you receive in-depth data on every aspect of the site in real time. </p>
                    </div>
                    </div>
                </div>
             <div class="service-drone">
               <div class="row">
                   <div class="col-md-3">
                       <img src="frontend/img/cad-1.jpg" class="img-responsive">
                   </div>
                   <div class="col-md-3">
                       <img src="frontend/img/cad-2.jpg" class="img-responsive">
                   </div>
                   <div class="col-md-3">
                       <img src="frontend/img/cad-3.jpg" class="img-responsive">
                   </div>
                   <div class="col-md-3">
                       <img src="frontend/img/cad-4.jpg" class="img-responsive">
                   </div>
              </div>
            </div>
               <div class="text-center">
               <button type="submit" class="btn btn-main" ui-sref="member">Register With Us</button>
              </div>
         </div>
     </div>
       </div>


       <div class="row">
            <div class="col-md-12">
                <div class="mt20" ng-show="viewDetail==2">
                 <div class="text-center">
                   <h2 class="drone-heading">drone File management systems</h2>
                   <h3 class="text-center mt10">intelligent data analytics, integrated for for efficiency.</h3>
                 </div>
                <div>                   
                <p class="deploy"> Infinitely improved data processing is now  areality, thank to our tightly controlled data analytics and management system.Elevate your business to new height by effectively processing your data for enhanced productivity.</p>
                <p>Here's a look at how our drone File management systems can make all the difference.</p>
                </div>
               <div class="row capture">
                   <div class="col-md-6">
                        <img src="frontend/img/data3.png" class="img-responsive img-drafting">
                    <p>Capture, store and curate drone management raw data with our intuively designed Cloud Drone File Management Systems.</p>
                    </div>
                    <div class="col-md-6">
                    <img src="frontend/img/data2.png" class="img-responsive img-drafting">
                    <p>Create georeferenced, orthorectified maps that can be viewed, processed and shared on multiple devices and platform.</p>
                    </div> 
               </div>

                <div class="row">
                    <div class="capture">
                <div class="col-md-8 col-md-offset-2">
                     <img src="frontend/img/data1.png" class="img-responsive img-drafting">
                    <p class="text-justify">Generate reports from drone acquired data in multiple formats, through a single click. Choose from between orthomosaics that accurately map out layouts and plots, elevation extractions (DEMs) that visualize topographic information, 3D elevation models and point clouds, and NDVI for crop health visualizations and agricultural data processing.</p>
                </div>
                </div>
                </div>
            <div class="service-drone">
               <div class="row">
                   <div  class="col-md-3">
                       <img src="frontend/img/img1.jpg" class="img-responsive">
                   </div>
                   <div class="col-md-3">
                       <img src="frontend/img/img2.jpg" class="img-responsive">
                   </div>
                   <div class="col-md-3">
                       <img src="frontend/img/img3.jpg" class="img-responsive">
                   </div>
                   <div class="col-md-3">
                       <img src="frontend/img/img4.jpg" class="img-responsive">
                   </div>
              </div>
            </div>
               <div class="text-center">
               <button type="submit" class="btn btn-main" ui-sref="member">Become a member</button>
              </div>
         </div>
     </div>
       </div>



       <div class="row">
            <div class="col-md-12">
                <div class="mt20" ng-show="viewDetail==1">
                    <i class="fa fa-arrow-down service-content-arrow " aria-hidden="true"></i>
                 <div class="text-center">
                   <h2 class="drone-heading">drones</h2>
                   <h3 class="text-center mt10">with our UAVs, the sky's the limit.</h3>
                 </div>
                <div>                   
                <p class="deploy"> Deploy our high precision drones to add an edge to your surveying tools, taking your operational efficiency and topographic analysis up a few notches. We’ve reverse engineered our drones based on comprehensive aerial intelligence analytics, to achieve military level precision in acquiring the right data and imagery.</p>
                <p>Customize your resilient drones with extremely high resolution equipment and other integrations to accurately capture the data that you need, from even places that are beyond normal access. Get immediate reconnaissance support that’s at once cost effective, reliable and accurate. Our aerial surveying service complies with all safety regulations and permissions.</p>
                <p>Sounds too good to be true?</p>
                </div>
            <div class="service-drone">
               <div class="row">
                   <div class="col-md-3">
                       <img src="frontend/img/product/image1.jpg" class="img-responsive">
                   </div>
                   <div class="col-md-3">
                       <img src="frontend/img/product/image2.jpg" class="img-responsive">
                   </div>
                   <div class="col-md-3">
                       <img src="frontend/img/product/image3.jpg" class="img-responsive">
                   </div>
                   <div class="col-md-3">
                       <img src="frontend/img/product/image4.jpg" class="img-responsive">
                   </div>
              </div>
            </div>
              <div class="text-center">
                     <h4 class="service-span"><a href="http://gsourcedata.com/unifli-web/#!/product"> check out our drones</a> to see how they can help make your operation simpler.</h4>
                     <div class="col-sm-offset-5 col-sm-2">
                     <button type="submit" class="btn btn-main service-btn" ui-sref="product"  ui-sref="mycart">BUY</button>
                     </div>
              </div>
         </div>
     </div>
       </div>
</div>
</div>
