<div class="thank-modal">

    <section>
        <div class="thanks mgtp80">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                        <div class="thanks-title text-center">
                            <h1 class="fith damionr text-capitalize">Sorry </h1>
                            <p class="text-center">Your payment did not process due to some reasons. Kindly click on the link below to go back to
                                your dashboard and re do the payment.​​
                            </p>
                            <button class="btn-thank" ng-click="goBack()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>