<div class="bg-support-dfm">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="text-center support-heading ">
                    <h1>support</h1>
                    <div class="text-justify">
                        <h3 class="text-center mt10">Exceptional support, now made easier.</h3>
                        <div class="support-left">
                            <p>At UNIFLI, we believe streamline support system that solve all your problem.</p>
                            <p>Get first-hand support on everything drone related.</p>
                        </div>
                        <div class="text-center marg40">
                            <button type="submit" class="btn btn-become" ui-sref="member">Become a member today</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="support-content unilfi-help">
            <h2 class="text-center mb">how UNIFLI can help you</h2>
            <div class="">
                <p>Unifli lives to its commitment of ensuring timely support to its customers. With a network of support services,
                    we provide expert technical guidance and help resolve queries at every point. At Unifli, our experienced
                    team offers support pertaining to products, software, accessories etc. The below cited pattern takes
                    you through the process of using our products and get the most benefits of these.</p>
                <p>Resolve technical issues like login trouble, Orthomosaic creation or photo upload issues with our expertise
                    guiding you throughout.</p>
                <p>Along with technical issues, seek assistance for CAD linework issues like Google map calculator, payment
                    gateway issues or issues to do with your DFM login.</p>
                <p>Manoeuvring your way through the support page has been made simpler with a step-by-step and a how-to guide
                    ensuring you are stuck at no point. Below cited ways will make the use of products as also manage your
                    data is a rather easy manner.</p>
            </div>



            <div class="row makeActive" ng-init="viewDetail=1">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="text-center view-data" ng-click="viewDetail = 1;" ng-class="{' active': viewDetail==1, '': viewDetail!==1}">
                                <div class="support-icon">
                                    <img src="img/support-1.png" alt="">
                                </div>
                                <h3>Drone</h3>
                                <p>Find out more about High Precision Drones</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="text-center view-data" ng-click="viewDetail=2;" ng-class="{' active': viewDetail==2, '': viewDetail!==2}">
                                <div class="support-icon">
                                    <img src="img/support-2.png" alt="">
                                </div>
                                <h3>DFM</h3>
                                <p>How to Create, analyze and Share Data</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="text-center view-data" ng-click="viewDetail=3;" ng-class="{' active': viewDetail==3, '': viewDetail!==3}">
                                <div class="support-icon">
                                    <img src="img/support-3.png" alt="">
                                </div>
                                <h3>CAD</h3>
                                <p>CAD - Gain Accuracy with Instant Support </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="mt20" ng-show="viewDetail==3">
                        <div class="text-center">
                            <h2>CAD Conversion Support</h2>
                        </div>
                        <div class="support-list cad-left">
                            <ul>
                                <li>Get on-demand CAD drafting done from your orthophotos</li>
                                <li>Experience ultimate precision with the Google Maps Area Calculator</li>
                                <li>Define your target area with editible points and send instead CAD request</li>
                                <li>Discover lighting fast topografic solutions with a 36 hour tournaround</li>
                            </ul>
                        </div>
                        <div class="text-center">
                            <p class="m-0">When it comes to CAD drafting, nobody does it better.</p>
                            <p>
                                <a href="" ng-click="login(); weight-700">Click here</a> to login and raise a ticket.</p>
                        </div>
                    </div>
                    <div class="mt20" ng-show="viewDetail==2">
                        <div class="text-center">
                            <h2>DFM Support</h2>
                        </div>
                        <div class="support-list p-40">
                            <ul>
                                <li>Curate,analyse,and organize all your drone data in custom created database layouts</li>
                                <li>Generate orthorectified and georeferenced maps with high level of accuracy </li>
                                <li>Create elevation exctraction,orthomosaics,and 3D elevation models in one click</li>
                            </ul>
                        </div>
                        <div class="text-center">
                            <p>Need help logging into your Account?</p>
                            <div class="col-sm-offset-3 col-sm-6">
                                <button type="submit" class="btn btn-main" ui-sref="support-dfm-2">Click here</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mt20" ng-show="viewDetail==1">
                        <div class="text-center">
                            <h2>Drone Support (FC-250)</h2>
                        </div>
                        <div>
                            <p>Deploy our high precision drones to add an edge to your surveying tools, taking your operational
                                efficiency and topographic analysis up a few notches. Get to know the operating manuals and
                                procedures of our drone (FC-250) by browsing throught downloadble file below. </p>
                            <p>The Content will be helpful in gaining thorough undestanding of our drone and serve as a fundamental
                                source for using the product. By clicking the below icons you will be taken to the respective
                                area providing you a holistick view of our drone and it's technical competency </p>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-3 col-md-6">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="support-list">
                                            <ul class="list-2">
                                                <li class="weight-700 li-family">
                                                    <img src="img/PDF.png" alt="">Set up</li>
                                                <li class="weight-700 li-family">
                                                    <img src="img/PDF.png" alt="">Assembly</li>
                                                <li class="weight-700 li-family">
                                                    <img src="img/PDF.png" alt="">Mission Planning</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="support-list">
                                            <ul class="list-2">
                                                <li class="weight-700 li-family">
                                                    <img src="img/PDF.png" alt=""> FC-250 Operations</li>
                                                <li class="weight-700 li-family">
                                                    <img src="img/PDF.png" alt="">FC-250 Procedure</li>
                                                <li class="weight-700 li-family">
                                                    <img src="img/PDF.png" alt="">Mission Processing </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center m-50">
                            <p>Got any question? We're all ears!</p>
                            <p>Send your queies to
                                <span class="underline weight-700 ">support@unifli.aero</span> and we'll get back to you soon.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>