<div class="bg-support-dfm">
    <div class="container">
        <div class="support-content mt-250">
        <div class="support-1">
            <h2>Logging into your account</h2>
            <p>Once you reach the DFM page ,the upper left corner of your page will take to the login page </p>
            <p>One entering your user name and password ,you will then be directed to the mission overview page</p>
            <div><img src="frontend/img/s1.jpg" class="img-responsive"></div>       
        </div>
         <div class="support-2">
            <h2>Creating a mission</h2>
            <p>On clicking Create mission overview page you will be taken to the Create Mission page wherein you will need to enter a description to identify your mission.</p>
            <div><img src="frontend/img/s2.jpg" class="img-responsive"></div>       
        </div>
         <div class="support-3">
            <p>Next you will be required to click the Choose File button after which you can locate the images from your computer.</p>
            <div><img src="frontend/img/s3.jpg" class="img-responsive"></div>       
        </div>
         <div class="support-3">
            <p>Finally ,choose Create Mission and being processing .This will allow image uploading from mission for processing .The time taken to upload may vary depending on your internet connection.</p>
            <div><img src="frontend/img/s4.jpg" class="img-responsive"></div>
            <div class="m-50">
            <p>Note:In order to have Google KMZ file or gain quicker processing, ensure image are geotagged.you may click this with a right click on the image from your mission-properties-deatails tab that mentions a section GPS with Latitude,Longitude and Altitude.Click with the geotagged format that are accepted.</p>
            </div>      
        </div>
        <div class="support-2">
            <h2>Mission Options</h2>
            <p>Once the Mission is uploade ,it will enter the processing queue until it's picked by our server.On completion of processing, the status will change to 'ready'.For viewing mission details, Click on 'upload date of mission'.</p>
            <div><img src="frontend/img/s5.jpg" class="img-responsive"></div> 
            <div class="support-list">
            <ul>
                <li>Your Mosaic will be loaded to your web browser with the help of Show Map</li>
                <li>The analyze image button allows adding various post-processing options like DEM or NDVI,hovever,note thet will be place your mission again in processing queue. </li>
                <li>You can download all post-processed data with the Access Downloads button-full resolution mosaic, DEM and NDIV mosaic.</li>
            </ul> 
            </div>   
        </div>
        
    </div>
</div>