//google-map-2//
@media (max-width: $screen-md-max) {}

@media (max-width: $screen-sm-max) {
         
        //  home start
// .mtop-member2{
//         padding-top: 54%;
// }
.support-heading {
    padding-top: 33%;
}
.support-heading2{
      padding-top: 26% !important;

}
.mtop-member2{
     padding-top: 36% !important;

}
        .slide-down {
    margin-top: 14% !important;
}

.line-after:after {
    content: "";
   
    width: 28%;
  
    top: 31px;
    right: 5px;
}
.load {
    width: 31% !important;
    position: absolute;
    left: 36%;
    bottom: -71px;
}
.newsletter2{
    text-align: center;
}
.my-read{
    width: 38%;
}
.droning {
    
    margin-top: -154px;
}
.more-info-drones p {
    padding-right: 55px;
}
.read{
        width: 27%;
}
.section-blog {
   
    top: 22%;
    left:25%;
}
.sec-4{
    // min-height: 0px !important;
    min-height: 748px !important;
}
.surveying-info{
    width: 68%;
}
.support-section{
        margin-top: -283px;
}
.contact-section{
          background-position: -450px;
              margin-top: -77px;
}
.contact {
    margin-top: 95%;
     
}
.top-spacings {
    padding-top: 127px;
}
.fc-img h2:before{
        width: 91%;
    left: 9px;
}
// ser

.support-left3{
        padding-left: 30px !important;
}


    // about.html changes
    .p-120 {
        padding: 0 68px;
    }
    .scott,
    .alex {
        padding: 0 20px;
    }
    .btn-main {
        width: 150px;
    }
    // END about.html changes
    //common//
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 18px;
    }
    p,
    li,
    span,
    .btn {
        font-size: 14px;
    }
    //common//
   
    //google-map-2//
    .proceed-button {
        .btn-map {
            width: 143px;
        }
    }
    .icon-details,
    .crossroad {
        padding: 0;
    }
    .bg-calculator {
        margin-top: 0;
    }
    .heading-calculator {
        margin-top: 45%;
        padding: 0 25px;
    }
    .map-block-2 {
        .icon-details {
            text-align: center!important;
        }
    }
    //google-map-2//
    //member-page//
    .member-table li {
        font-size: 12px;
    }
    .table {
        thead {
            th {
                font-size: 12px !important;
            }
        }
        tbody {
            tr {
                td {
                    font-size: 12px !important;
                }
            }
        }
    }
    .member-container {
        margin: 10px 0px 40px;
    }
    .mem-container-padding {
        padding: 30px 20px;
    }
    .mtop-member {
        padding-top: 70%;
    }
    //member-page//

//blog//
.mmtop{
margin-top: 10px;
}

//blog//

//google-map

.mtop-25{
margin-top: 25%;
}

//google-map//

//mycart//

.mycart-coupon-box{
    float: none!important;
    text-align: center!important;
}

//mycart//

//product//

.padding-r { padding-right: 0;}

.padding-l { padding-left: 0;}

.drone-width { width: 130px; }

.remote-width { width: 140px; }

.video { padding: 18vh 0; }

//product//

// how we work

.img-step1b {
   
    padding-top: 40px;
}
h2.step-right:after{
    display: none;
}
h2.step.step-left:before{
    display: none;
}
h2.step.step-left:after{
    display: none;
}
h2.step.step-top:before{
    display: none;
}
h2.step.step-2-top:before{
    display: none;
}
.mb-top{
    margin-top: 20px;
}
.ipad-top{
    margin-top: -30px;
}
.service-drone {
     padding: 40px 0px; 
}
.support-heading {
    padding-top: 33%;
}
.mtop-member {
    padding-top: 53%;
}
.p-minheight{
        min-height: 130px;
}
.makeActive-service .active p:before{
    width: 120px ;
}
.bg-support-dfm {
    background-position: center center;
}
.support-left {
    padding-left: 153px;
}
.mt10 {
    margin-top: 40px;
}
.support-left2{
        padding-left: 0px;
}
.policy-heading {
    padding-top: 33%;
}
// hom start
.fc-img {
    margin-top: -10px;
}
}





@media (max-width: $screen-xs-max) {


.mt10 {
    margin-top: 28px;
}
    // about.html changes
    .p-120 {
        padding: 0 !important;
    }
    .scott,
    .alex {
        padding: 0 !important;
    }
    .photo img {
        width: 100px;
        margin: 0 auto;
    }
    // END about.html changes
    //google-map-2//
    .proceed-button {
        .btn-map {
            width: 143px;
        }
    }
    .icon-details,
    .crossroad {
        padding: 0;
    }
    .bg-calculator {
        margin-top: 0;
    }
    .heading-calculator {
        margin-top: 45%;
        padding: 0 25px;
    }
    .map-block-2 {
        .icon-details {
            text-align: center!important;
        }
    }
    //google-map-2//
    //common//
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    p,
    li,
    span,
    .btn {
        font-size: 12px;
    }
    //common//
    //about-us//
    .story-info {
        width: 65%;
        margin-top: 10px !important;
        p {
            font-size: 10px;
            line-height: 15px;
        }
    }
    .story-infos {
        margin-left: 25px;
    }
    .story-imgs {
        margin: 10px 0 0 5px;
    }
    .story-one {
        padding: 80px 50px;
    }
    .story-img {
        width: 50px;
        height: 50px;
    }
    .rounded {
        width: 250px;
        height: 85px;
    }
    .product-type {
        margin-top: 400px!important;
    }
    .storyimg-mobile {
        margin: 10px 0 0 5px;
    }
    //about us//
    //footer//
    .footer {
        .pull-left,
        .pull-right {
            float: none !important;
            text-align: center;
        }
        p {
            padding: 12px 0;
        }
        span{
      color: #74ada9;
      font-size: 10px;
 }
 .privacy{
     margin-left: 70px;
 }
    }
    //footer
    //header
.btn-header{
    margin: 0;
    margin-top: 20px;
}

.header-logo{
    img{
        height: auto;
    }
}

.header-list{
    margin-top: 30px;
}


    //header//
    //blog-individual//
    .main-content {
        padding: 0 15px;
    }
    .post-info {
        padding-bottom: 20px;
    }
    //blog-individual//
     //support-dm-2//

.support-content {
    background-color: white;
    padding: 30px 20px 60px;
    margin: 250px 0 0;
}
    //support-dm-2//


    //support-dm//

.cad-left,.p-40{ padding: 0; }

 .mtop-member { padding-top: 70%;}

    .unilfi-help{ margin-top: 0; }

    //support-dm//

    //google-map-2//
    .map-content {
        margin: 0;
        padding: 25px 15px;
    }
    .icon-details,
    .crossroad {
        padding: 0;
    }
    .bg-calculator {
        margin-top: 0;
    }
    .heading-calculator {
        margin-top: 45%;
        padding: 0 25px;
    }
     //google-map-2//

     //product//
.drone-info {
    padding: 15px 20px;
    width: auto;
}
.product{
.product-type {
    margin-top: 200px !important;
}
}
  //product//

  //terms,policy//


.policy-container {
    padding: 40px 20px;
    margin: 0 0px;
}

.policy-mobile{ margin-top: 35%; }
  //terms//


  //blog//
  .blog-relative {
    position: relative;
    padding-right: 0;
    margin: 10px auto;
     .form-control {
    padding: 0 40px 0 90px;
}
}
  //blog//

//member//
.member-form {
    margin: 0;
    padding: 30px 0 40px;
}

.signup-container {
    margin: 0;
}

//member//


//mycart//

.mycart-container {
    padding: 45% 15px 0;
}

.mycart-coupon-box{
 span {
    font-size: 14px;
}

.coupon-box{
    margin: 0 5px;
}
}

.btn-mycart{
    width: 100% !important;
    margin-bottom: 10px;
}

.mycart-row1{
    .total{
   font-size: 16px !important;
    }
}

.mycart-coupon-box {
    width: 100%;
    padding: 10px;
}

.total {
    padding: 17px !important;
}


.mycart-content{
    .table{
        td{
            padding: 22px 10px !important;
        }
    }
}

.btn-back{
    margin-right: 0;
}
//mycart//


//product//

.video {   
    padding: 18vh 0;
    margin: 20px 0px 0;
}

.features { margin: 0;}

.row-flex { display: block;}

.col-flex{ width: 100%;}

.padding-r { padding-right: 0;}

.padding-l { padding-left: 0;}

.feature-min { padding: 20px; .padding{
    padding:0;
}
.pads{
    padding:0;
}}

.top-spacing-product{ 
    .no-pad{
        padding: 0 !important;
        text-align: justify;
    }
}

.package { padding: 20px; }

.product-margin {  margin: 0 10px; }

.tab { padding: 0; }

.package-bg {  margin: 0; }

.uav-images {
    li{
    display: block;
    margin: 0 auto;
    }
 }

 .button { width: 100%; }

 .feature-images { padding: 20px; }

//product//

// .contact-top{
//     margin-top: 20px;

// }

// how to work start

h2.step-right:after{
    display: none;
}
h2.step.step-left:before{
    display: none;
}
h2.step.step-left:after{
    display: none;
}
h2.step.step-top:before{
    display: none;
}
h2.step.step-2-top:before{
    display: none;
}

.w-50 {
    width: 65%;
    margin-top: 17px;
}
.mb-top{
        margin-top: 25px;
}
.step3-mar{
        margin-left: -9px;
            padding-top: 85px;
}

.work-container {
    background: white;
    padding: 18px 47px 0px 28px;
    margin-top: 25px;
}
.worklogo {
    width: 100%;
    padding: 7px 52px 0 70px;
}
.support-heading2 {
    padding-top: 35%;
}

// service
.service-content {
    background-color: white;
    padding: 60px 10px;
    margin: 0px 10px;
}


.service-data {
    padding: 0px 0px;
    /* text-align: justify; */
}
.support-icon {
    
    width: 60px;
    
}
.makeActive-service .active p:before{
    width: 90px ;
}
.slide-down {
    margin-top: 25% !important;
}
.p-minheight{
        min-height: 165px;
}
.bg-support-dfm {
    background-position: center center;
}
.support-left {
    padding-left: 23px;
}
// home start
.line-after:after{
    display: none;
}
.f-size {
    font-size: 46px !important;
}


.sec-4{
    // min-height: 0px !important;
    min-height: 0px !important;
}


.fc-img {
    margin-top: -28px;
}

.thumbs{
    padding: 10px 0px !important;
}

.surveying-info {
    width: 80% !important;
    padding: 16px;
} 
.view-top{
    margin-top: -63px;
}
.view-top2{
    margin-top: -30px;
}
.view-top3{
    margin-top: -60px;
}

.newsletter{
    margin: 0 0px;
}
.top-spacings {
    // padding-top: 32px;
    padding-top: 0px;
    margin-top: -25px;
}
.font-mb{
    font-size: 12px;
}
.more-info-drones p {
    padding-right: 0px;
}
.left-spacing {
    padding-left: 20px;
    text-align: center
}
.button {
    width: 35%;
}
.text-right {
   text-align: center;
}
.text-left{

        margin-right: 137px;
    text-align: center;
}

.contact {
    margin-top: 50%;
}
.top-spac{
    margin-left: 84px;
    padding-top: 33px;
    margin-top: 0px !important;
}
.newsletter-mb{
    margin-left: 82px;
    margin-top: 23px;
}
.newsletter button {
   
    width: 25%;
}
.contact-section{
    background-position: center center;
    background-size: cover;
}
.contact {
    color:#04423b !important;
}
.fc-img h2:before {
    
    left: 48px;
}
.dots{
    display: none;
}
.fly-2{
display: none;
}
.rw-padd{
    padding-left: 0px;
}
.convert{
    margin-top: 40px;
}
.cad-draf{
       margin-top: -15px;
}
.my-read{
        width: 50%;
}
.top-padd{
   
    margin-top: 0px;
}
.space-top{
        padding-top: 148px !important;
    // margin-top: -25px !important;
}
.support-img img {
    margin: 50px auto;
}
.fc-img h2:before {
    width: 65%;
}
.support-section {
    margin-top: 25px;
}
// .load2 {
//     width: 12% !important;
// }
.blog-img-1 {
   width: 300px;
   img{
       width: 100%;
   }
}
.read {
    width: 33%;
}
.section-blog {
    top: -1%;
    left: 15%;
}
.surveying-info {
    width: 96% !important;
    padding: 7px;
}
.sep-22{
        margin: -15px;
}
.mtop-member2 {
    padding-top: 69% !important;
}
.support-heading2 {
    padding-top: 40% !important;
}

.support-heading{
     padding-top: 65% !important;
}
// .support-heading2 {
//     padding-top: 66% !important;
// }

}