<div class="top-spacings">
    <div class="container"> 
<div class="uav-drones top-spacings top-padd">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <!--<div class="uav-droneimg">
                <img src="img/product/drone.png" class="img-responsive" alt="drone">
            </div>-->
            <h1 class="contact text-right">contact us</h1>
            <div class="">
                <button class="button newsletter2 pull-right text-left text-center" ui-sref="contactus">Inquire Now</button>
            </div>
         
        </div>
        <div class="col-md-6  col-sm-6 col-xs-12">
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-8">
  <div class="address inline-block top-spacings top-spac">
        <!--<h4 class="margin0">UNIFLI SA</h4>
            <h4 class="margin0">Route de Genève 38</h4>
              <h4 class="margin0">(Z.I. Châtelard Sud)</h4>
                <h4 class="margin0">1033 Cheseaux-Lausanne</h4>
                  <h4 class="margin0">Switzerland</h4>-->
         <h4 class="margin0">Unifli Aerosolutions LLC</h4>
            <h4 class="margin0">2057 Via Concha</h4>
              <h4 class="margin0">San Clemente CA 92673</h4>
            </div>
                </div>
                <div class="col-md-5  col-sm-5 col-xs-8 top-spac">
                    <div class="address">
                    <div class="top-spacings nobold">
                    <h4 class="margin0">Call us at <a href="tel:(844) 7UNIFLI (786-4354)">(844) 7UNIFLI (786-4354)</a></h4>
                     <h4 class="margin0"> Or email us at<br><a href="mailto:info@unifli.com"> info@unifli.aero</a></h4>
                     <h4 class="margin0">Visit us at<a href="http://www.unifli.aero" target="_new">&nbsp;www.unifli.aero</a></h4>
                    </div>
                    </div>
                </div>
                <div class="col-md-2  col-sm-5 col-xs-4"></div>
            </div>
   <div class="newsletter newsletter-mb">
        <label for="news">Sign up for our newsletter:</label>
        <form ng-if="!show">
          
        <input class="inline-block" type="email" id="news" ng-model="formdata.email" required>
       
             <button class="button  margin0 inline-block" ng-click="subscribe(formdata)">Submit</button>
              <!--<div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            submit
          </button>
        </div>
      </div>-->
       
      
        </form>
       <div class="thanku" ng-if="show">
        <p>Thank you for subscribing!</p>
        </div>
      </div>
        </div>
    </div>
   
    </div>  
  
    </div>

</div>
