<div class="top-spacing">
    <section class="top-spacing">
        <div class="container">
            <div class="uav-drones drone-inform">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h1 class="margin0 drones text-center">drones</h1>
                        <div class="fc-img text-center">
                            <img src="img/product/drones.png" class="img-responsive" alt="drone">
                            <h2>FC-250</h2>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                        <div class="more-info-drones top-spacings">

                            <h2 class="mb10 ">With our UAVs, the sky's the limit.</h2>
                            <p class="mb text-justify font-mb">Deploy our high precision drones to add an edge to your surveying tools, taking your operational
                                efficiency and topographic analysis up a few notches. Get to know the operating manuals and
                                procedures of our drone (FC-250).</p>
                            <button class="button read" ui-sref="product">Read More</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


</div>