<div class="blog-section relative">
    <div class="container">
        <h1 class="margin0  support text-center">blog</h1>
        <div class="surveying relative">
            <div class="survey-img relative">
                <img src="img/new/new123.png" class="img-responsive" alt="survey">
                <div class="section-blog text-center">
                    <!--<h2 class="modal-heading text-uppercase ">Drone Techonology: </h2><h2 class="modal-heading text-uppercase ">By surveyors, for Surveyors. </h2>-->
                    <!--<h4 class="sep-22 modal-heading text-center">September 22, 2016</h4>-->
                    <h2 class="modal-heading text-uppercase ">THIS ONE STOP SHOP IS THE SOLUTION </h2>
                    <h2 class="modal-heading text-uppercase ">TO ALL YOUR DRONE SURVEYING PROBLEMS!</h2>

                </div>
            </div>
            <div class="surveying-info">
                <!--<p>Included in the FAA's new drone laws is the ability to operate a drone from within a moving vehicle. This dramatically expands the areas that drones can cover for mapping or inspection. We took to the deserts of Southern California to see how difficult it is to run a safe UAV operation from a moving vehicle.</p>-->
                <!--<h1 class="margin0  support text-center f-size">coming soon</h1>-->
                <p>The world of land surveying has changed, and how!
                    <br> Thanks to newer and more efficient technologies like drons and data capturing, it's much easier to survey
                    land and collate, analyse and curate data in highly effective ways like never before.</p>

                </p>
                <div class="post text-center">
                    <div class="btn btn-view" ui-sref="blog">View Post</div>
                    <!--<div class="btn btn-view" ui-sref="blog"></div>-->
                </div>

            </div>

        </div>

        <div class="row text-center section-2">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="thumbnail thumbs">
                    <img src="img/new/1.jpg" alt=""></img>
                </div>
                <!--<p class="august">AUGUST  24, 2016</p>
                    <h4 class="h35">WHAT IS THE FAA DRONE TEST LIKE?</h4>-->
                <h4 class="h35">How Part 107 Is Paying The Way
                    <br> For Commercial Drone Operators</h4>
                <div class="btn btn-view view-top" ui-sref="blog-individual({id:'4'})">View Post</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="thumbnail thumbs">
                    <img src="img/new/2.jpg" alt=""></img>
                </div>
                <!--<p class="august">AUGUST  24, 2016</p>
                    <h4 class="h35">WHAT A SURVEYOR NEED TO KNOW TO START MAPPING BY DRONE</h4>-->
                <h4 class="h35">An Assortment Of Applications </h4>
                <div class="btn btn-view view-top2" ui-sref="blog-individual({id:'1'})">View Post</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="thumbnail thumbs ">
                    <img src="img/new/ssss.jpg" alt=""></img>
                </div>
                <!--<p class="august">AUGUST  24, 2016</p>
                    <h4 class="h35">THE KEY TO SUCCESS WITH DRONES</h4>-->
                <h4 class="h35"> Complete The Circle With CAD Linework</h4>
                <div class="btn btn-view view-top3" ui-sref="blog-individual({id:'2'})">View Post</div>
            </div>
        </div>
        <div class="newsletter">
            <!--<button class="button load load2">Load More</button>-->
        </div>
    </div>

</div>