<div class="top-spacings">
    <div class="container">
        <div class="uav-drones top-spacings">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="supports-info top-spacings left-spacing space-top">
                        <h1 class="margin0 support">support</h1>
                        <h3 class="mb10">Exceptional support, now made easier.</h3>
                        <p class="mb">At UNIFLI, we believe in streamlined support systems that solve all your problems. Get first-hand
                            support on everything drone related.</p>
                        <button class="button read" ui-sref="support-dfm">Read More</button>
                    </div>

                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="support-img top-spacings">
                        <img src="img/new/5.png" class="img-responsive" alt="support">
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>