<div class="modal-content">
    <div class="modal-header" style="background-color:#36918b;padding:17px;">
        <div class="close-modal " ng-click="$dismiss() ">
            <i class=" fa fa-times-circle " aria-hidden="true "></i>
        </div>
    </div>
    <div class="modal-body">
        <p></p>
        <button type="submit" class="btn btn-main btn-login text-uppercase" ng-click="login();">Login</button>
        <p></p>
        <button type="submit" class="btn btn-main btn-login text-uppercase" ui-sref="member">become a member</button>
    </div>
</div>