<div class="modal-content ">
    <div class="modal-header " style="background-color:#36918b ">
        <h4 class="modal-title " style="color:#fff ">Card Details form</h4>
    </div>
    <div class="modal-body ">
        <form class="form-horizontal ">

            <div class="form-group ">
                <label class="control-label col-sm-4 " for="pwd ">Name on card</label>
                <div class="col-sm-6 ">
                    <input type="text " class="form-control " ng-model="data1.nameOnCard " placeholder="Name on card ">
                </div>
            </div>
            <div class="form-group ">
                <label class="control-label col-sm-4 " for="pwd ">Card Number</label>
                <div class="col-sm-6 ">
                    <input type="text " class="form-control " id="pwd " ng-model="data1.cardNumber " placeholder="Enter card Number
																			" name="pwd ">
                </div>
            </div>
            <div class="form-group ">
                <label class="control-label col-sm-4 " for="pwd ">CVV</label>
                <div class="col-sm-6 ">
                    <input type="password " class="form-control " id="pwd " ng-model="data1.securityCode " placeholder="Enter CVV
																			" name="pwd ">
                </div>
            </div>
            <div class="form-group">

                <label for="exampleInputPassword1" class="col-sm-4 control-label">To date</label>
                <!--<input name="password" class="password form-control m-t-xxs" id="exampleInputPassword1" type="password">-->
                <div class="col-sm-5">
                    <div class="form-group form-margin">
                        <div class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions"
                                ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                                 <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group ">
                <div class="col-sm-offset-6 col-sm-4 ">
                    <button type="button " ng-click="cardDetailsPayment(data1) " class="btn green btn-outline pull-right ">PAY NOW</button>
                </div>

            </div>


        </form>

    </div>
    <div class="modal-footer ">
        <button type="button " class="btn green btn-outline " ng-click="$dismiss() ">Close</button>

    </div>
</div>