<div class="modal-content">

    <div class="modal-header" style="background-color:#36918b">
        <div class="pull-right">
            <a href="" class="closes" ng-click="$dismiss();">
                <!--<img src="img/home/33.png" class="img-responsive" alt="cross">-->
                <i class="fa fa-2x fa-times-circle-o" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="modal-body">
        <div class="text-center">
            <p>Thanks for reaching out!</p>
            <p>We’re currently processing your request and will get back to you soon. </p>
            <p>You’ll receive an email in less than 24 hours.</p>
        </div>
        <div class="text-center">
           <a href="https://unifli.aero/" class="color-whitey" target="blank"> <button type="submit" class="btn btn-main btn-login">ok</button></a>
        </div>


    </div>
</div>