<div class="modal-content">
    <div class="pull-right">
        <a class="btn btn-clear" style="color:black" ng-click="$dismiss()">
            <i class="ln-cross"></i>
        </a>
    </div>
    <div class="modal-header" style="background-color:#36918b">
    </div>
    <div class="modal-body">
        <p class="text-center">Thank You For Subscribing !</p>
    </div>
    <div class="modal-footer ">
        <button type="button " class="btn green btn-outline " ui-sref="home">Close</button>

    </div>
</div>