<div class="text-center modal-header">
  <h2 class="modal-heading">Login</h2>
</div>
<div class="login-modal">
  <form>
    <div class="form-group">
      <input type="text" placeholder="Name" ng-model="formdata.name" value="" class="member-input">
    </div>
    <div class="form-group">
      <input type="password" placeholder="Password" value="" ng-model="formdata.password" class="member-input">
      <p class="pull-right" ng-click="forgotPassword()">Forgot Password?</p>
      <p ui-sref="member({id:1})">Sign up</p>
    </div>
    <div>
      <button type="submit" class="btn btn-main btn-login" ng-click="loginclose(formdata);">Login</button>
    </div>
  </form>
</div>