<div class="modal-content">
    <div class="pull-right">
        <a class="btn btn-clear" style="color:black" ng-click="$dismiss()">
                <i class="ln-cross"></i>
            </a>
    </div>
    <div class="modal-header" style="background-color:#36918b">
    </div>
    <div class="modal-body">
        <p class="text-center">Thanks for Signing up! Please click on the link below to access your Cloud Account at Unifli. If you already have images from your flight for a Project, kindly click on CREATE A MISSION!</p>
        <div class="text-center">
<a  class="btn green btn-launch" role="btn" href="https://cloud.unifli.aero/" target="blank">LAUNCH CLOUD</a>
        </div>
    </div>
    <div class="modal-footer ">
        <button type="button " class="btn green btn-outline " ui-sref="home">Close</button>

    </div>
</div>